@media only screen and (min-width: 1024px)
{
	
a{
text-decoration:none;
}
#android{
width: 100%;
height: auto;
overflow: hidden;
background: #5f5c62;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;}



#gora{
display: flex;
padding-top:2vh;
padding-bottom:2vh;
position: relative;
width: 100vw;
height: auto;
background: #4d004d;
}
#o2{
width: 46vw;
height: auto;
background: #F5F5F5;
margin-bottom:4vw;
margin-top:4vw;
margin-left:4vw;
margin-right:1vw;
float:left;
}
#o3{float:left;
}
#o4{
margin-bottom:4vw;
margin-top:4vw;
margin-right:5vw;
width: 46vw;
height: auto;
float:left;
margin-left:1vw;
background: #F5F5F5;
padding-bottom:2vh;
}

#pommo{display:grid;
grid-template-columns:auto auto auto;
background: #F5F5F5;}





#o5{clear:both;
	margin-left: auto; margin-right: auto;
height: 8vw;
background: url(tlo.jpg);
}

#o6{display:grid;
grid-template-columns:auto auto;

width: 100vw;
height:auto;
background: #5f5c62;
float:left;
}
#pc{margin-top:0px;width:49vw;margin-top:15vh;margin-bottom:10vh;margin-right:5vh;}
#prawo{margin-top:15vh;margin-bottom:10vh;}

#o7{clear:both;
width: 100vw;

height: 7vw;
background: url(tlo.jpg);
}

#o8{

padding-top:3vh;
height: auto;
background: #F5F5F5;

  
}
#o88{
width:30vw;
margin-top:5vw;
height: auto;
background: #F5F5F5;
margin-right:3vw;


}
#o888{
display:grid;
grid-template-columns:auto auto auto;

width: 100vw;
height: auto;
background: #F5F5F5;


}

#o9{
clear:both;
padding-top:0.01vw;
width: 100vw;
height: auto;
background: #5f5c62;
}
#o99{
width: 100vw;
height: auto;
background: #F5F5F5;
}
#o999{
width: 100vw;
height: auto;
background: #F5F5F5;
}
#o10{clear:both;
width: 140vw;
height: auto;
background: #4d004d;}


#czarny{color:#F5F5F5;}


#komputer{
	margin-top:1vw;
	padding:2vw;
	margin-bottom:2vw;
width:60vw;
height:35vw;
}

#logo{
width:20vw;height:10vw;
position: relative;
left:-10vw;

}
#domek{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -40vw;
}

#pyt{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -22.5vw;
}
#kontakt{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -23vw;
}
#odsylacz1{
position: absolute;
top: 50%;left: 3%;}
#odsylacz2{
position: relative;
top: 19%;left: 18%;}
#odsylacz3{
position: relative;
left: 23%;
top: 32%;
}
#odsylacz4{
position: relative;
left: 28%;

}
#odsylacz5{
position: relative;
left: 33%;
top: 17%;
}
#logg{
Font-Family: Roboto;
Font-Style: Bold;
font-size: 4vw;
color:#E1E1E1;}


.bc{
position: relative;
width: 75.05px;
height: 17.96px;
left: 5%;
top: 5%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15.3942px;
line-height: 18px;
color: #E1E1E1;
}

.bd{
position: relative;
width: 31.75px;
height: 6.73px;
left: -3%;
top: 50%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 5.77284px;
line-height: 7px;
color: #E1E1E1;}


#srodek{
width:30vw;height:6vw;
position: relative;
 text-align: center;
left: 17%;
background-color:#4d004d;

}
#srodek2{
padding:1vw;
position: relative;
Font-Family: Roboto;
font-weight: Bold;
font-size: 3vw;
color:#E1E1E1;
text-align: center;
}

#ev1{position:relative;
	left:4vw;
	width: 45vw;
  height: 40vw;
	float:left;
	background: #F5F5F5;
}
#ev2{position:relative;
	left:6vw;
background: #F5F5F5;
	width: 45vw;
  height: 40vw;
	float:left;
	
}
#last{background: #5f5c62;
height:45vw;}





.N1{
Font-Family: Roboto;
Font-Style: Bold;
font-size: 4vw;
color:#5f5c62;}

.center {
  text-align: center;
}
.N2{
Font-Family: Roboto;
font-size: 2vw;
color:#5f5c62;}
.N3{
Font-Family: Roboto;
font-size: 2vw;
color:#E1E1E1;}
}












































































@media only screen and (max-width: 1023px)
{
a{
text-decoration:none;
}
#android{
width: 100%;
height: auto;
overflow: hidden;
background: #494949;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;}



#gora{
display: flex;
padding-top:2vh;
padding-bottom:2vh;
position: relative;
width: 100vw;
height: auto;
background: #4d004d;
}
#o2{
width: 100vw;
height: auto;
background: #F5F5F5;
padding-bottom:2vh;
}
#o3{
margin-left: auto; margin-right: auto;
width: 100vw;
height: 8vw;
background-image: url("tlo.jpg");
}
#o4{
margin-left: auto; margin-right: auto;
width: 100vw;
height: auto;
background: #F5F5F5;
padding-bottom:2vh;
}
#o5{margin-left: auto; margin-right: auto;
height: 8vw;
background: url(tlo.jpg);
}
#o6{
margin-left: auto; margin-right: auto;
width: 100vw;
height: auto;
top: 509px;
background: #5f5c62;
padding-bottom:2vh;
}

#o7{
margin-left: auto;
 margin-right: auto;
width: 100vw;

height: 7vw;
background: url(tlo.jpg);
}

#o8{
padding-top:3vh;

width: 100vw;
height: auto;
background: #F5F5F5;

  
}
#o88{

width: 100vw;
height: auto;
background: #F5F5F5;


}
#o888{


width: 100vw;
height: auto;
background: #F5F5F5;


}

#o9{
clear:both;
padding-top:0.01vw;
width: 100vw;
height: auto;
background: #F5F5F5;
}
#o99{
width: 100vw;
height: auto;
background: #F5F5F5;
}
#o999{
width: 100vw;
height: auto;
background: #F5F5F5;
}
#o10{
width: 140vw;
height: auto;
background: #4d004d;}


#czarny{color:#F5F5F5;}


#komputer{
width:60vw;
height:30vw;
}

#logo{
width:20vw;height:10vw;
position: relative;
left:-10vw;

}








#domek{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -40vw;
}

#pyt{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -22.5vw;
}
#kontakt{
position: relative;
width:5vw;
height:5vw;
top: 2.4vw;
right:  -23vw;
}
#odsylacz2{
position: relative;
top: 19%;left: 19%;}
#odsylacz3{
position: relative;
left: 24%;
top: 17%;
}
#odsylacz4{
position: relative;
left: 29%;

}
#odsylacz5{
position: relative;
left: 35%;
top: 17%;
}



.bc{
position: relative;
width: 75.05px;
height: 17.96px;
left: 5%;
top: 5%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15.3942px;
line-height: 18px;
color: #E1E1E1;
}

.bd{
position: relative;
width: 31.75px;
height: 6.73px;
left: -3%;
top: 50%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 5.77284px;
line-height: 7px;
color: #E1E1E1;}


#srodek{
width:30vw;height:6vw;
position: relative;
 text-align: center;
left: 35%;
background-color:#4d004d;

}
#srodek2{
padding:1vw;
position: relative;
Font-Family: Roboto;
font-weight: Bold;
font-size: 3vw;
color:#E1E1E1;
text-align: center;
}

#ev1{
	width: 80vw;
  height: 50vw;
	
	
}
#ev2{padding-top:3vh;
padding-bottom:3vh;
	width: 80vw;
  height: 50vw;
	
	
}


	






.N1{
Font-Family: Roboto;
Font-Style: Bold;
font-size: 380%;
color:#5f5c62;}

.center {
  text-align: center;
}
.N2{
Font-Family: Roboto;
font-size: 250%;
color:#5f5c62;}
.N3{
Font-Family: Roboto;
font-size: 200%;
left:20vw;
color:#F5F5F5;}

}